# RÉ-EDITER CE FICHIER

# MinIO - Stockage S3
MINIO_ROOT_USER=minio_admin
MINIO_ROOT_PASSWORD=ChangeMe_Str0ngP@ssword!
MINIO_QUOTA_MB=500
MINIO_BUCKET_PREFIX=user

# PostgreSQL / Supabase
POSTGRES_PASSWORD=ChangeMe_DB_P@ssword!

# Authentification JWT
# Générer avec : openssl rand -base64 64
JWT_SECRET=3TAxFF8+Y8CK0Z6mR3yxT12hHVRySr9gS0zuyfUOCZ1tdWubZVei3N0P2ixPSf4AKrRrU+TG3dj9FnXxc0nnlQ==

# Application
SITE_URL=https://zerotrust.local

# SMTP (MailHog en dev)
SMTP_HOST=mailhog
SMTP_PORT=1025
SMTP_USER=
SMTP_PASS=
SMTP_FROM=noreply@zerotrust.local


MAX_FILE_SIZE_MB=100
PRESIGNED_URL_EXPIRY_SECONDS=900

# Grafana
GRAFANA_PASSWORD=admin_grafana_pass

TLS_CERT_PATH=./nginx/certs/zerotrust.crt
TLS_KEY_PATH=./nginx/certs/zerotrust.key
